h1 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
  font-size: var(--fs-800);
}

h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-primary-100);
  font-size: var(--fs-600);
}

h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-100);
  font-size: var(--fs-600);
}

p {
  font-family: var(--ff-heading);
  font-weight: var(--fw-light);
  color: var(--clr-primary-100);
  font-size: var(--fs-400);
}
