:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);

  --fw-light: 400;
  --fw-regular: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-500: 1rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  --fs-800: 3.5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 1.875rem;
    --fs-700: 2.5rem;
    --fs-800: 3.5rem;
  }
}
