// Custom Properties
:root {
  --clr-primary-100: ;
  --clr-primary-200: ;
  --clr-primary-300: ;

  --clr-accent-100: ;
  --clr-accent-200: ;

  --ff-primary-100: "Open Sans", sans-serif;
  --ff-primary-200: "Raleway", sans-serif;

  --fw-light: 400;
  --fw-regular: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 3.75rem;
}
